/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

*{
	box-sizing: border-box;
}


/*Header and Nav*/

.header{
	background: rgb(218, 218, 218);

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	
	z-index: 2;

	width: 100%;
	height: 100px;
}

.nav{
	display: inline-block;
	position: relative;
	width: 75%;
	top: 35%;
	left: 9%;
}

.nav a{
	margin: 0 2%;

	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600;
	color: rgb(0, 73, 73);

	border: 1px solid rgba(156, 156, 156, 0.897);
	border-radius: 5px;

	padding: 5px 10px;
}

.nav a:hover{
	color: black;
}

.logo{
	position: absolute;
	width: 15%;
	right: 5%;
	top: 17%;
}



/*first section with img*/


.first-section{
	margin-top: 125px;
	text-align: center;
}

.header-h1{
	display: inline-block;
	position: relative;
	left: -10%;
	top: -70px;
	font-size: 5rem;
}

.btn{
	display: inline-block;
	position: relative;
	left: -27%;
	top: 0%;

	text-decoration: none;

	color: black;

	border: 1px solid lightgray;
	border-radius: 10px;

	padding: 10px 50px;
}

.btn:hover{
	background: lightcyan;
	font-weight: 700;
}

.header-img{
	display: inline-block;
	position: relative;
	left: 10%;
}



/*main and body*/

body{
	width: 80%;
	height: auto;
	display: block;
	border: 1px solid grey;
	margin: 0 auto;
}

p{
	font-weight: 600;
	font-size: 0.9rem;
}

.main-section{
	display: inline-block;
	margin: 0% 5%;
}

hr{
	margin: 5% 5%;
	background: black;
	border: 0.5px solid black;
}

.main-features{
	display: inline-block;
	width: 48%;
	margin-right: 3.5%;
}

.main-about{
	display: inline-block;
	width: 48%;
	margin: 0;
}

.middle-img{
	width: 100%;
	margin: 5% 0;
}

.main-services{
	display: inline-block;
	width: 28%;
	margin-right: 7.5%;
}

.main-product{
	display: inline-block;
	width: 28%;
	margin-right: 7.5%;
}

.main-vision{
	display: inline-block;
	width: 28%;
}

.main-sub-one{
	width: 100%;
}


/*footer*/

footer > p{
	text-align: center;
	padding: 10%;
}

address{
	display: inline-block;
	margin: 1% 5%;
}

